/* Styling for all */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px;
    border-style: dashed; */
}

/* CSS Reset */
body, header, form, footer {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Styling for body on both html pages*/
body {
    background-color: lightgray;
    margin: 100;
    padding: 25
}

h1 {
    text-align: center;
    font-size: 96;
    color: #FF0000;
}

.welcome {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

/* CSS for index.html */
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-left: 25%;
}

form p {
    font-style: italic;
    font-size: small;
}

label {
    font-weight: bold;
}

#user_input {
    height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

input:hover {
    background-color: #FF0000;
}

/* Styling for footer */
footer {
    background-color: gray;
    position: fixed;
    text-align: center;
    color: black;
    height: 5%;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

/* CSS for results.html */
.results {
    width: 80%;
    margin-left: 10%;
}

.return_button {
    margin-left: 45%;
    color: gray;
}

button:hover {
    background-color:#FF0000;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

h2 {
    font-size: 48;
}

#warning {
    color: #0800FF;
    font-size: 36;
}

.bias_box {
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
}

.polar_box {
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
}

.predict_box {
    border: black;
    border-style: solid;
    border-width: 1px;
}

.return_text {
    padding-left: 5px;
    padding-right: 5px;
}