<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bias Detector</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Bias Detector</h1>

        <div class="welcome">
            <p></p>
        </div>

        <br>

        <div class="user_form">
            <form method="POST" action="{{ url_for('results') }}">
                <label for="user_input">Enter copied text for analysis:</label>
                <br>
                <textarea name="user_input" id="user_input" maxlength="512"></textarea>
                <br>
                <input type="submit" value="Submit" class="submit_button">
            </form>
        </div>

    </body>

    <footer>
        <p id="authors">Authors:</p>
        <p>Avyrie Fellows, Cierra Loepker, Melanie Jensen, Lydia Porter</p>
    </footer>
</html>
