<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bias Detector</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Bias Detector</h1>

        <div class="welcome">
            <p>This website analyzes text for bias, polarity, and the likelihood of being fake news. Its purpose is to inform and make users more aware of the truthfulness of content they read online, and the impact and prevalence of bias and polarity in text we read every day. It uses an AI machine to predict the likelihood of the text being fake or real news.</p>
        </div>

        <br>

        <div class="user_form">
            <form method="POST" action="{{ url_for('results') }}">
                <label for="user_input">Enter copied text for analysis:</label>
                <br>
                <textarea name="user_input" id="user_input" maxlength="512"></textarea>
                <p>Max character count: 512</p>
                <br>
                <input type="submit" value="Submit" class="submit_button">
            </form>
        </div>

    </body>

    <footer>
        Authors: Avyrie Fellows, Cierra Loepker, Melanie Jensen, Lydia Porter
    </footer>
</html>
